body {
    background-color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    background-color:black ;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
}

img {
    width: 380px;
    height: 380px;
    position: sticky;
    float: left;
    padding: 15px;
    


}

h2 {
    font-size: medium;
}