body {
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: palevioletred;
}

.hero {

   background-image: url(./assets/branch-of-apple-blossoms-spring-vector-9375918.jpg);
   background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start
    
}

header {

    font-family: 'Cookie', cursive;
    color: black;
    font-size: 65px;
}

h2 {
    color: black;
}

h1 {
    color:black;
    font-size: 35px;
    letter-spacing: 5px;
    text-align: center;
}



h2 {
    color: rgb(121, 105, 105);
    text-align: center;
    font-size: 50px;

}



/* these are my navigation links */

header nav {
    margin: 10px ;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
 
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.0vw;
}

li a:hover {
    background-color: thistle;
    color:black;
}


 a:hover {
  background-color: crimson;
  border padding: auto;


}

.flex-row {
    flex-wrap: wrap;
    padding: auto;
    margin: 10px ;
    display: flex;
    align-items: center;

}
